* text=auto
*.html text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
CNAME text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.pdf binary
*.png binary
*.webp binary
*.woff binary
*.woff2 binary
